
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #6c757d #f1f1f1;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 10px;
}

    /* Sidebar */
    .admin-sidebar{
      width:240px;
      background:#1e293b;
      color:#fff;
      padding:20px;
    }
    .admin-sidebar h2{margin-bottom:30px;text-align:center}
    .admin-sidebar a{
      display:block;
      color:#cbd5e1;
      text-decoration:none;
      padding:12px;
      border-radius:8px;
      margin-bottom:10px;
    }
    .admin-sidebar a:hover{background:#334155;color:#fff}

    /* Main */
    .admin-main{flex:1;padding:20px}

    /* Header */
    .admin-header{
      background:#fff;
      padding:15px 20px;
      border-radius:10px;
      margin-bottom:20px;
      display:flex;
      justify-content:space-between;
      align-items:center;
      box-shadow:0 4px 10px rgba(0,0,0,0.05)
    }
    .admin-header h2{font-size:24px;color:#111827;font-weight:bold}

    /* Cards */
    .admin-cards{
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
      gap:20px;
      margin-bottom:25px;
    }
    .admin-card{
      background:#fff;
      padding:20px;
      border-radius:12px;
      box-shadow:0 4px 10px rgba(0,0,0,0.05)
    }
    .admin-card h3{color:#475569;font-size:16px}
    .admin-card p{font-size:28px;font-weight:bold;margin-top:10px}

    /* Table */
    .admin-table-box{
      background:#fff;
      padding:20px;
      border-radius:12px;
      box-shadow:0 4px 10px rgba(0,0,0,0.05)
    }
    .admin-table{width:100%;border-collapse:collapse}
    .admin-table th,.admin-table td{padding:12px;border-bottom:1px solid #e5e7eb;text-align:left}
    .admin-table th{background:#f1f5f9}
    .admin-table tr:hover{background:#f9fafb}

    /* Responsive */
    @media(max-width:768px){
      /* .admin-sidebar{display:none} */
    }

/* -------------------------------userapp/css------------------------------- */
